/* SCSS VARIABLES
==================================================
================================================== */
/* SCSS MIXINS
==================================================
================================================== */
/* SCSS PLACEHOLDERS
==================================================
================================================== */
.wrapper button {
  border-radius: .4rem;
  height: 2rem; }

/* CSS RESET
==================================================
================================================== */
html, body, div, main, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

/* HTML5 - Older browser support
================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* BODY
================================================== */
body {
  line-height: 1; }

/* LISTS - Clear bullets
================================================== */
ol, ul {
  list-style: none; }

/* QUOTES
================================================== */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* TABLES
================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* BASE LAYOUT
==================================================
================================================== */
/*DEFAULTS ======================================= */
html {
  font-size: 62.5%; }

body {
  font: 1.4rem "Alegreya Sans", sans-serif;
  color: #212121;
  background: #FFFFFF; }

header {
  background-color: #00BCD4;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-around; }
  header button {
    background-color: #0097A7;
    background-image: url("/images/drop.png");
    background-repeat: no-repeat;
    background-size: 1.8rem 2rem;
    background-position: center;
    padding: 1.8rem;
    margin: 0;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden; }

/* TYPOGRAPHY ====================================== */
h1 {
  font-size: 4rem;
  color: #212121;
  margin: 0; }
  @media (max-width: 830px) {
    h1 {
      padding: 1rem 2rem; } }
  @media (min-width: 831px) and (max-width: 1040px) {
    h1 {
      padding: 1rem 4rem; } }
  @media (min-width: 1040px) {
    h1 {
      padding: 1rem 8rem; } }

h2 {
  font-size: 2.5rem; }

h3 {
  font-weight: bold;
  padding-bottom: .5rem; }

p {
  line-height: 2rem; }

a {
  color: #0097A7;
  text-decoration: underline; }

.emptytext {
  font-weight: lighter;
  color: #757575; }

/* BASE STRUCTURE ================================ */
@media (max-width: 830px) {
  h1, .wrapper {
    max-width: 450px; } }

@media (min-width: 831px) and (max-width: 1040px) {
  h1, .wrapper {
    max-width: 940px; } }

@media (min-width: 1040px) {
  h1, .wrapper {
    max-width: 1200px; } }

.wrapper {
  display: flex; }
  @media (max-width: 830px) {
    .wrapper {
      padding: 0 2rem;
      margin: 2rem auto;
      flex-direction: column;
      justify-content: center; } }
  @media (min-width: 831px) and (max-width: 1040px) {
    .wrapper {
      margin: 7.5rem auto;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 4rem; } }
  @media (min-width: 1040px) {
    .wrapper {
      margin: 7.5rem auto;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 8rem; } }
  .wrapper section {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr; }
    .wrapper section .sectionheader {
      display: grid;
      grid-template-columns: 1fr 8rem;
      grid-gap: 1rem; }
  .wrapper li {
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 0.8rem 0.1rem #E8E8E8; }

/* FORM LAYOUT
==================================================
================================================== */
form input, form textarea {
  box-shadow: inset 0 0 8px #E8E8E8; }

form input:valid {
  border: none; }

form input:invalid {
  border: 0.2rem solid #FFEB3B; }

form input:required {
  border: 0.2rem solid #00BCD4; }

.alert {
  color: #0097A7; }

/* MODAL LAYOUT
==================================================
================================================== */
#themechange {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 188, 212, 0.5); }

.modal {
  background-color: #FFFFFF;
  margin: auto;
  padding: 4rem 2rem;
  border: 1px solid #00BCD4;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; }

#customtheme1 {
  background-color: #F44336;
  padding: 1.8rem;
  margin: 1rem;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }

#customtheme2 {
  background-color: #9C27B0;
  padding: 1.8rem;
  margin: 1rem;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }

#default {
  background-color: #00BCD4;
  padding: 1.8rem;
  margin: 1rem;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }

/* CUSTOMIZATION LAYOUT
==================================================
================================================== */
.custom1 header {
  background-color: #F44336; }
  .custom1 header button {
    background-color: #D32F2F; }

.custom1 a {
  color: #D32F2F; }

.custom1 form input:invalid {
  border: 0.2rem solid #448AFF; }

.custom1 form input:required {
  border: 0.2rem solid #F44336; }

.custom1 .alert {
  color: #D32F2F; }

.custom2 header {
  background-color: #9C27B0; }
  .custom2 header button {
    background-color: #7B1FA2; }

.custom2 a {
  color: #7B1FA2; }

.custom2 form input:invalid {
  border: 0.2rem solid #FF5722; }

.custom2 form input:required {
  border: 0.2rem solid #9C27B0; }

.custom2 .alert {
  color: #7B1FA2; }
