@media (min-width: 300px) {
  html {
    font-size: 16px; } }

div {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media (min-width: 800px) {
  section {
    float: left;
    width: calc(50%); } }
