// Utilities
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/placeholders';

// Base Styles
@import 'base/base';

html{
  @include mq(small){
    font-size: 16px;
  }
}
div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section{
  @include mq(large) {
    float: left;
    width: calc(50%)
  }
}