/* SCSS MIXINS
==================================================
================================================== */
$break-small: 830px;
$break-large: 1040px;

@mixin mq($size){
  @if $size == small {
    @media (max-width: $break-small) {@content;}
  }
  @else if $size == medium {
    @media (min-width: $break-small + 1) and (max-width: $break-large) {@content;}
  }
  @else if $size == large {
    @media (min-width: $break-large) {@content;}
  }
}

@mixin med-or-lg-screen-wrapper{
  margin: 7.5rem auto;
  flex-direction: row;
  justify-content: space-between;
}

@mixin modalButton{
  padding: 1.8rem;
  margin: 1rem;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}