/* SCSS VARIABLES
==================================================
================================================== */
$p-font-stack:    'Alegreya Sans', sans-serif;
$h-font-stack: 'Lato', sans-serif;
$primary-color: #00BCD4;
$lt-primary-color: #B2EBF2;
$dk-primary-color: #0097A7;
$accent-color: #FFEB3B;
$primary-text: #212121;
$secondary-text: #757575;
$header-text: #212121;
$divider-color: #BDBDBD;
$background-color: #FFFFFF;
$shadow-color: #E8E8E8;

$primary-color-custom1:#F44336;
$dk-primary-color-custom1:#D32F2F;
$lt-primary-color-custom1:#FFCDD2;
$accent-color-custom1:#448AFF;

$primary-color-custom2:#9C27B0;
$dk-primary-color-custom2:#7B1FA2;
$lt-primary-color-custom2:#E1BEE7;
$accent-color-custom2:#FF5722;