/* SCSS VARIABLES
==================================================
================================================== */
$p-font-stack:    "Alegreya Sans", "Trebuchet MS", Helvetica, sans-serif;
$h-font-stack: "Lato", "Lucida Grande", sans-serif;
$primary-color: #00BCD4;
$lt-primary-color: #B2EBF2;
$dk-primary-color: #0097A7;
$accent-color: #FFEB3B;
$primary-text: #212121;
$secondary-text: #757575;
$header-text: #FFFFFF;
$divider-color: #BDBDBD;
$background-color: #FFFFFF;

