/* MODAL LAYOUT
==================================================
================================================== */
#themechange{
  display:none;
  position:fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,188,212, 0.5);
}

.modal{
  background-color: $background-color;
  margin: auto;
  padding: 4rem 2rem;
  border: 1px solid $primary-color;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customtheme1{
  background-color: $primary-color-custom1;
  @include modalButton;
}
#customtheme2{
  background-color: $primary-color-custom2;
  @include modalButton;
}
#default {
  background-color: $primary-color;
  @include modalButton;
}

/* CUSTOMIZATION LAYOUT
==================================================
================================================== */

.custom1{
  header{
    background-color: $primary-color-custom1;
    button{
      background-color: $dk-primary-color-custom1;
    }
  }
  a{
    color: $dk-primary-color-custom1;
  }
  form{
    input:invalid{
      border: .2rem solid $accent-color-custom1;
    }

    input:required{
      border: .2rem solid $primary-color-custom1;
    }
  }
  .alert{
    color: $dk-primary-color-custom1;
  }
}

.custom2{
  header{
    background-color: $primary-color-custom2;
    button{
      background-color: $dk-primary-color-custom2;
    }
  }
  a{
    color: $dk-primary-color-custom2;
  }
  form{
    input:invalid{
      border: .2rem solid $accent-color-custom2;
    }

    input:required{
      border: .2rem solid $primary-color-custom2;
    }
  }
  .alert{
    color: $dk-primary-color-custom2;
  }
}

